{% extends "mgateSuiviBundle::layout.html.twig" %}


{% block content_bundle %}


    <h2>Ajouter un Avenant</h2>

    {% include "mgateSuiviBundle:Av:formulaire.html.twig" %} 

    <p>---  </p>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { known: form.knownSignataire2, knowned: form.signataire2, newed: form.newSignataire2 }%} 
{% endblock %}
