{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier un Avant-Projet - {{ parent() }}
{% endblock %}

       
{% block content_bundle %}


    <h2>Modifier un Avenant</h2>

    {% include "mgateSuiviBundle:Av:formulaire.html.twig" %} 


    <p>
        <a href="{{ path('mgateSuivi_av_voir', {'id': av.id}) }}" >Retour</a>
    </p>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { known: form.knownSignataire2, knowned: form.signataire2, newed: form.newSignataire2 }%} 
{% endblock %}