{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier un Avant-Projet - {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ form_javascript(form) }}
{% endblock %}
        
{% block content_bundle %}


    <h2>Modifier un Avenant</h2>

    {% include "mgateSuiviBundle:Av:formulaire.html.twig" %} 


    <p>
        <a href="{{ path('mgateSuivi_av_voir', {'id': av.id}) }}" >Retour</a>
    </p>

{% endblock %}

