        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "::layout.html.twig" %}

{% block title %}Hum... les béta...{% endblock %}

{% block content %}
<div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Oups! Une erreur est survenue</h3>
    </div>
    <div class="panel-body">
        <code>{{ status_code }} {{ status_text }}</code>
        <p>{{ exception.message }}</p>
    </div>
</div>
{% endblock %}