{# Formulaire d'ajout d'une cc #}

<form method="post" {{ form_enctype(form) }}>
	
	{{ form_widget(form) }}
	
	<input type="submit" value="Enregistrer la CC"/>
        <input type="submit" value="Enregistrer la CC et passer au suivi" name="suivi"/>
</form>
