{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier une Convention Client - {{ parent() }}
{% endblock %}

{% block content_bundle %}
      
{% include "::Tools/jquery.html.twig" %}  
{% include "::Tools/jqueryui.html.twig" %}  
{% include "::Tools/select2.html.twig" %}
{% include "::Tools/datepicker.html.twig" %}  


    <h2>Rediger la Convention Client</h2>

    {% include "mgateSuiviBundle:Cc:formulaire.html.twig" %} 


    <p>
        <a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}" >Retour à l'Etude</a>
    </p>

{% endblock %}

    
{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { doc: form.cc } %} 
{% endblock %}
