{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block javascript %}
    {{ form_javascript(form) }}
{% endblock %}

{% block content_bundle %}

    <h2>Ajouter un nouvel état de l'étude</h2>

    {% include "mgateSuiviBundle:Suivi:formulaire.html.twig" %} 

    <p>---  </p>

{% endblock %}
