{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier un Suivi - {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ form_javascript(form) }}
{% endblock %}
        
{% block content_bundle %}
        
    <h2>Modifier un état</h2>

    {% include "mgateSuiviBundle:Suivi:formulaire.html.twig" %} 


    <p>
        <a href="{{ path('mgateSuivi_suivi_voir', {'id': suivi.id}) }}" >Retour</a>
    </p>

{% endblock %}

