{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier une FactureVente d'Acompte - {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ form_javascript(form) }}
{% endblock %}
        
{% block content_bundle %}   
        
    <h2>Modifier une FactureVente d'Acompte</h2>

    {% include "mgateSuiviBundle:FactureVente:formulaire.html.twig" %} 


    <p>
        <a href="{{ path('mgateSuivi_FactureVente_voir', {'id': FactureVente.id}) }}" >Retour</a>
    </p>



    <button type="submit" onclick="self.location.href='{{ path('mgateSuivi_FactureVente_supprimer', { 'id': FactureVente.id }) }}'">Delete</button>

    
{% endblock %}

