
{% if nbreChampsNonRemplis > 0 %}
Les champs suivant n'ont pas été correctement remplis<br/>
<ul>

{% for champs in champsNonRemplis %}
    <li>{{loop.index}} - {{champs}}</li>
{% endfor %}
</ul>
{% else %}
Congrats, tous les champs sont remplis<br/>
{% endif %}


<form action="AP/telecharger" method="post" >
    <input type="submit" value="Telecharger"/>
</form>