{% extends "mgateFormationBundle::layout.html.twig" %}
{% block content_bundle %}
<h2>Formulaires</h2>
<p>---  </p>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}
