# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/tmp/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

#Other
bin/*
composer.phar
composer.lock
nbproject/*
src/mgate/UserBundle/DataFixtures/ORM/LoadAdminData.php
