{% extends "::layout.html.twig" %}

{% block title %}dsqfqsdf{% endblock %}

{% block body %}
qsdfqsdfqsdf

{# L'utilisateur est-il connecté ? #}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# L'utilisateur est connecté ! #}
    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>

    {# L'utilisateur est-il admin ? #}
    {% if is_granted('ROLE_ADMIN') %}
        {# L'utilisateur est admin ! #}
        <a href="{{ path('admin') }}">Administration</a>
    {% endif %}
{% else %}
    {# L'utilisateur n'est pas connecté ! #}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
{% endif %}


    {% block fos_user_content %}qsdfqsdfqsdf{% endblock %}
{% endblock %}