<!-- alert-block -->
{% for error in getErrors(etude) %}
<div class="alert alert-error no-margin">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
 <h4>{{ error.titre }}</h4>
  {{ error.message }}
</div>
{% endfor %}