<!-- alert-block -->

{% for warning in getWarnings(etude) %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>{{ warning.titre }}</h4>
  {{ warning.message }}
</div>
{% endfor %}