{# layout père de suivi bundle #}
{% extends "::layout.html.twig" %}

{% block title %}
    M-GaTE - {{ parent() }}
{% endblock %}

{% block content %}

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    {% block sous_titre %}
    <h1>Gestion des Clients et des Utilisateurs</h1>
    

    <hr>
    {% endblock %}
    
    {# On définit un nouveau block, que les vues du bundle pourront remplir #}
    {% block content_bundle %}
    {% endblock %}

{% endblock %}