{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Rédiger un Procès-Verbal - {{ parent() }}
{% endblock %}

{% block content_bundle %}

{% include "::Tools/select2.html.twig" %}
{% include "::Tools/datepicker.html.twig" %}

    <h2>Ajouter un Procès-Verbal</h2>

    {% include "mgateSuiviBundle:ProcesVerbal:formulaire.html.twig" %} 

    <p>---  </p>

{% endblock %}

    
{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { known: form.knownSignataire2, knowned: form.signataire2, newed: form.newSignataire2 }%} 
{% endblock %}