<table class="table table-striped table-bordered">
    <tr>
        <th colspan="2">
    <div class="btn-group btn-large">
        <button class="btn dropdown-toggle btn-large" data-toggle="dropdown">Facture d'Acompte <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('mgateSuivi_facture_rediger', {'id_etude': etude.id, 'type': 'fa'}) }}">Rédiger la Facture d'Acompte</a></li>
        </ul>
    </div></th>
</tr>
<tr>
    <th>Date de signature</th>
    <td>
                                {% if etude.fa and etude.fa.dateSignature %} 
                                {{etude.fa.dateSignature | date("d/m/Y") }}
                                {% else %}
            Non signé
                                {% endif %}
        </td>
    </tr>
    <tr>
        <th>Montant Total H.T</th>
        <td></td>
    </tr>
    <tr>
        <th>Acompte versé H.T</th>
        <td></td>
    </tr>

</table>