  <table class="table table-striped" id="myTable">
      <thead>
          <tr>
              <th>
                  Status
              </th>
              <th>
                  <div>Nom de l'étude</div>
                  <div>Référence</div>
              </th>
              <th>
                  <div>Client</div>
                  <div>Suiveur</div>
              </th>
              <th>
                  <div>Date de Lancement</div>
                  <div>Date de Fin</div>
              </th>
              <th>
                   Avancement
              </th>
              <th>
                   Developpeurs
              </th>
              <th>
                   <div>Prix H.T</div>
                   <div>Nbre J.E.H.</div>
              </th>
            </tr>
 	 </thead>
 	 <tbody>
        <!-- Juste un exemple Pour test.... -->
        {% set valider = "http://passagestecroix.ek.la/images/menubar/icon_tick.png" %}
        {% set Nvalider = "http://www.neuroscoop.net/images_communes/croix_rouge3D.png" %}
        {% set options = " no-repeat 0 0.32em ; list-style-type: none; padding-left: 20px;" %}

        {% for etude in etudes %}
            {% include "mgateSuiviBundle:Etude:Blocks/ligne.html.twig" with  {'etude':  etude, 'modeListe' : modeListe, 'user' : user} %}
        {% endfor %}
 	 </tbody>
  </table>