{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block content_bundle %}

  <h2>Ajouter un Employé à "{{ prospect.nom }}"</h2>

  {% include "mgatePersonneBundle:User:formulaire.html.twig" %} 



{% endblock %}
