<html>
    <head></head>
    
    <body>
        
    Bonjour,<br/>
    <br/>
    Un nouvel utilisateur vient de s'inscrire en confirmant son adresse email:<br/>
    Nom d'utilisateur: <strong>{{username}}</strong><br/>
    Email: <strong>{{email}}</strong><br/>
    <br/>
    Vous pouvez lier ce compte d'utilisateur à un membre M-GaTE pour lui attribuer des droits sur cette adresse:<br/>
    <a href="http://my.mgate.fr/personne/membre" >http://my.mgate.fr/personne/membre</a><br/>
    <br/>
    A bientôt.<br/>

    
    </body>

</html>