        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{# layout d'accueil pour les études  #}

{% extends "mgateDashboardBundle::layout.html.twig" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <iframe src="http://incipio.fr/push.html" width="100%" height="350" frameBorder="0"> </iframe>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <th colspan="2">Informations</th>
                </tr>
                <tr>
                    <td>Connecté en tant que </td>
                    <th>{{ app.user.username }}</th>
                </tr>
                <tr>
                    <td>Dernière connexion le </td>
                    <th>{{ app.user.lastLogin ? app.user.lastLogin | date ('d M Y')  }}</th>
                </tr>
                <tr>
                    <td colspan="2"><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-remove-sign"></span> Déconnexion</a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <th colspan="2">Décidez vous même des infos à présenter</th>
                </tr>
                <tr>
                    <th>CA en Négociation ?</th>
                    <td></td>
                </tr>
                <tr>
                    <th>CA Signé ? </th>
                    <td></td>
                </tr>
                <tr>
                    <th>CA Réalisé ?</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Envoyez vos suggestions à <br><a href="mailto:support@incipio.fr">support@incipio.fr</a></th>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
{% endblock %}
