{% extends "mgatePubliBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Liste des documents types
{% endblock %}

{% block content_bundle %}

    <h2>Liste des Documents Types</h2>

    <ul>

        {% for doc in docs %}
            <li>
                <a href="{{ app.request.scheme ~ '://' ~ app.request.host ~ app.request.basepath ~ '/' ~ doc.getWebPath }} ">{{ doc.name }}</a>
            </li>
        {% else %}
            <li>Pas (encore !) de document</li>
        {% endfor %}

    </ul>

{% endblock %}