{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier un Avant-Projet - {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ form_javascript(form) }}
{% endblock %}
        
{% block content_bundle %}


        
    <h2>Modifier un Avenant au Récapitulatif de Mission</h2>

    {% include "mgateSuiviBundle:AvMission:formulaire.html.twig" %} 


    <p>
        <a href="{{ path('mgateSuivi_avmission_voir', {'id': avmission.id}) }}" >Retour</a>
    </p>

{% endblock %}

