{% extends "::layout.html.twig" %}

{% block title %}Formations:{% endblock %}

{% block content %}
       
    {% block breadcrumb %}
    <ul class="breadcrumb no-margin">
            <li>Formations <span class="divider">/</span></li>
        </ul>
    {% endblock %}

    {% block content_bundle %}
    {% endblock %}

{% endblock %}