{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block content_bundle %}

  <h2>Ajouter un Poste M-GaTE</h2>

  {% include "mgatePersonneBundle:Poste:formulaire.html.twig" %} 



{% endblock %}
