<div>
<div id="{{indicateur.methode}}" style="min-width: 400px; height: 500px; margin: 0 auto">{{ indicateur.titre }}</div>
</div>
<script type="text/javascript">
        {{ chart(chart) }}
</script>
