{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}Modifier un user - {{ parent() }}{% endblock %}

{% block content_bundle %}

	<h2>Modifier un user</h2>

	{% include "mgatePersonneBundle:User:formulaire.html.twig" %}

	<p>
		Modification d'un user
	</p>

	<p>
		<a href="{{ path('mgatePersonne_user_voir', {'id': user.id}) }}" >
			
			Retour ?
		</a>
	</p>

{% endblock %}

