<?php

namespace mgate\UserBundle\DataFixtures\ORM;

use Doctrine\Common\DataFixtures\FixtureInterface;
use Doctrine\Common\Persistence\ObjectManager;
use mgate\UserBundle\Entity\User;
use mgate\PersonneBundle\Entity\Personne;

class LoadUserData implements FixtureInterface
{
    /**
     * {@inheritDoc}
     */
    public function load(ObjectManager $manager)
    {
       
        $personne = new Personne();
        $personne->setNom('xxxx');
        $personne->setPrenom('yyyyy');
        $personne->setAdresse('bbbb');
        $personne->setEmail('jjj');
        $personne->setSexe('m');
        
        
        $su = new User();
        $su->setUsername('xxxx'); //mettre le login de l'admin
        $su->setPassword('yyyyyy'); //mettre le mdp de l'admin
        $su->setEmail('kkkkkk');
        $su->setPersonne($personne);
        // problème pour personne_id?
        $manager->persist($su);
        $manager->flush();
    }
}
