{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block content_bundle %}

  <h2>Ajouter un Membre M-GaTE</h2>

<form method="post" {{ form_enctype(form) }}>
	
	{{ form_widget(form) }}
	
	<input type="submit" />
</form>



{% endblock %}
