{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block content_bundle %}

  <h2>Ajouter un Membre M-GaTE</h2>

  {% include "mgatePersonneBundle:Membre:formulaire.html.twig" %} 



{% endblock %}
