{# layout d'accueil pour les Users  #}

{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block content_bundle %}

    <h2>Liste des Membres</h2>

    <ul>
        {% for membre in membres %}
            <li>
            <a href="{{ path('mgatePersonne_membre_voir', {'id': membre.id}) }}"> {{ membre.personne.prenomNom }} </a>
            </li>
        {% else %}
            <li>Pas (encore !) de Membre</li>
        {% endfor %}
    </ul>

{% endblock %}
