{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}Modifier un membre - {{ parent() }}{% endblock %}

{% block content_bundle %}

    <h2>Modifier un membre</h2>
    {% include "mgatePersonneBundle:Membre:formulaire.html.twig" %}

                
<p>
    <a href="{{ path('mgatePersonne_membre_homepage') }}" >Retour à la liste des membres</a>
</p>
{% endblock %}

        
