{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}
Affichage d'un Membre - {{ parent() }}
{% endblock %}


{% block content_bundle %}

<div class="tabs-container no-margin">
    <ul class="nav nav-tabs no-margin" style="font-weight: bold;">
        <li class="active"><a href="#tab1" data-toggle="tab">Fiche</a></li>
        <li><a href="#tab2" data-toggle="tab">Documents</a></li>
    </ul>
    <div class="tab-content">
    <!-- FICHE -->
        <div class="tab-pane active" id="tab1">
            {% include "mgatePersonneBundle:Membre:TabVoir/fiche.html.twig" with  {'membre':  membre} %}
        </div>
    <!-- DOCUMENTS -->
        <div class="tab-pane" id="tab2">
            {% include "mgatePersonneBundle:Membre:TabVoir/documents.html.twig" with  {'membre':  membre} %}
        </div>
    </div>
</div>
<p>
    <a class="btn btn-warning" href="{{ path('mgatePersonne_membre_modifier', {'id': membre.id}) }}">Modifier le membre</a> 
    {% if is_granted('ROLE_ADMIN') and membre.personne and membre.personne.user is null and membre.personne.email is not null %}
    <a class="btn btn-danger" href="{{ path('mgate_user_addFromPersonne', { 'id':membre.personne.id }) }}">Ouvrir un compte Utilisateur</a>
    {% endif %}
    <a class="btn btn-info" href="{{ path('mgatePersonne_membre_homepage') }}">Retour à la liste des membres</a>
</p>
<br>
{% if is_granted('ROLE_ADMIN') and membre.personne.email is null %}
<code>
    Vous devez définir un email valide pour créer un compte utilisateur à ce membre.
</code>
{% endif %}
{% endblock %}
