        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}
Affichage d'un Membre - {{ parent() }}
{% endblock %}


{% block content_bundle %}

<div class="tabs-container no-margin">
    <ul class="nav nav-tabs no-margin" style="font-weight: bold;">
        <li class="active"><a href="#tab1" data-toggle="tab">Fiche</a></li>
        <li><a href="#tab2" data-toggle="tab">Documents</a></li>
    </ul>
    <div class="tab-content">
    <!-- FICHE -->
        <div class="tab-pane active" id="tab1">
            {% include "mgatePersonneBundle:Membre:TabVoir/fiche.html.twig" with  {'membre':  membre} %}
        </div>
    <!-- DOCUMENTS -->
        <div class="tab-pane" id="tab2">
            {% include "mgatePersonneBundle:Membre:TabVoir/documents.html.twig" with  {'membre':  membre} %}
        </div>
    </div>
</div>
<p>
    <a class="btn btn-warning" href="{{ path('mgatePersonne_membre_modifier', {'id': membre.id}) }}">Modifier le membre</a> 
    {% if is_granted('ROLE_ADMIN') and membre.personne and membre.personne.user is null and membre.personne.email is not null %}
    <a class="btn btn-danger" href="{{ path('mgate_user_addFromPersonne', { 'id':membre.personne.id }) }}">Ouvrir un compte Utilisateur</a>
    {% endif %}
    <a class="btn btn-info" href="{{ path('mgatePersonne_membre_homepage') }}">Retour à la liste des membres</a>
</p>
<br>
{% if is_granted('ROLE_ADMIN') and membre.personne.email is null %}
<code>
    Vous devez définir un email valide pour créer un compte utilisateur à ce membre.
</code>
{% endif %}
{% endblock %}
