{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block content_bundle %}

  <h2>Ajouter un Prospect</h2>

  {% include "mgatePersonneBundle:Prospect:formulaire.html.twig" %} 



{% endblock %}
