{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}Modifier un prospect - {{ parent() }}{% endblock %}

{% block content_bundle %}

	<h2>Modifier un prospect</h2>

	{% include "mgatePersonneBundle:Prospect:formulaire.html.twig" %}

        
    <form id="confirm" data-content="Êtes-vous sûr de vouloir supprimer définitivement cet élément ?" action="{{ path('mgatePersonne_prospect_supprimer', { 'id': form.vars.value.id }) }}" method="post">
    {{ form_widget(delete_form) }}
        <button>Supprimer le prospect</button>
    </form>    
        
	<p>
		Modification d'un prospect
	</p>

	<p>
		<a href="{{ path('mgatePersonne_prospect_voir', {'id': prospect.id}) }}" >
			
			Retour ?
		</a>
	</p>

{% endblock %}

