        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}Modifier un prospect - {{ parent() }}{% endblock %}

{% block content_bundle %}

	<h2>Modifier un prospect</h2>

	{% include "mgatePersonneBundle:Prospect:formulaire.html.twig" %}

        
    <form class="bootbox-confirm" data-content="Êtes-vous sûr de vouloir supprimer définitivement ce prospect ?" action="{{ path('mgatePersonne_prospect_supprimer', { 'id': form.vars.value.id }) }}" method="post">
    {{ form_widget(delete_form) }}
        <button>Supprimer le prospect</button>
    </form>    
        
	<p>
		Modification d'un prospect
	</p>

	<p>
		<a href="{{ path('mgatePersonne_prospect_voir', {'id': prospect.id}) }}" >
			
			Retour ?
		</a>
	</p>

{% endblock %}

