{% extends "::layout.html.twig" %}

{% block title %}Suivi:{% endblock %}

{% block content %}
       
    {% block breadcrumb %}
    <ul class="breadcrumb no-margin">
            <li><a href="{{ path('mgateSuivi_etude_homepage') }}">Suivi d'Étude</a> <span class="divider">/</span></li>
            {% if etude is defined %}
                <li><a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}">{{ getRefEtude(etude) }} - {{ etude.nom }}</a> <span class="divider">/</span></li>
                <li class="active">-</li>
            {% endif %}
        </ul>
    {% endblock %}

    {# On définit un nouveau block, que les vues du bundle pourront remplir #}
    {% block content_bundle %}
    {% endblock %}

{% endblock %}