{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block content_bundle %}

    <h2>Ajouter un Avant-Projet</h2>

    {% include "mgateSuiviBundle:Phase:formulaire.html.twig" %} 

    <p>---  </p>

{% endblock %}
