{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier une étude - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>Modifier un article</h2>

    {% include "mgateSuiviBundle:Etude:formulaire.html.twig" %} 

    <p>Modification d'un Avant-Projet</p>

    <p>
        <a href="{{ path('mgateSuivi_ap_voir', {'id': etude.id}) }}" >Retour</a>
    </p>

{% endblock %}

