{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block content_bundle %}

  <h2>Ajouter une étude</h2>

  {% include "mgateSuiviBundle:Etude:formulaire.html.twig" %} 

  <p>
     Tu es là pour ajouter une étude alors fais toi plaiz ;)
     Mais faut que je fasse le formulaire ^^
  </p>

{% endblock %}
