{# Formulaire d'ajout d'une étude #}

<form method="post" {{ form_enctype(form) }}>
	
	{{ form_widget(form) }}
	
	<input type="submit" value="Envoyer" name="envoie" id="envoie"/>
        <input type="submit" value="Suivant" name="next" id="next"/>
</form>
