{# layout d'accueil pour les études  #}

{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
Accueil - {{ parent() }}
{% endblock %}

{% block content_bundle %}

<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Etudes à suivre ({{app.user.personne.prenomnom|default('non connecté')}})</a></li>
        <li><a href="#tab2" data-toggle="tab">Etudes en cours</a></li>
        <li><a href="#tab3" data-toggle="tab">Etudes terminées</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1" style="min-height: 400px;">
            {% include "mgateSuiviBundle:Etude:Blocks/mesSuivis.html.twig" with  {'etudes':  etudes, 'user' : app.user.personne.prenomnom|default(0)} %}
            </div>
            <div class="tab-pane" id="tab2" style="min-height: 400px;">
            {% include "mgateSuiviBundle:Etude:Blocks/etudesEnCours.html.twig" with  {'etudes':  etudes} %}
                </div>
                <div class="tab-pane" id="tab3" style="min-height: 400px;">
                        <div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                        Mandat 6
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
                                    <div class="accordion-inner">
                                        {% include "mgateSuiviBundle:Etude:Blocks/etudesEnCours.html.twig" with  {'etudes':  etudes} %}

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                            Mandat 5
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="accordion-body in collapse" style="height: auto;">
                                        <div class="accordion-inner">
                                       {% include "mgateSuiviBundle:Etude:Blocks/etudesEnCours.html.twig" with  {'etudes':  etudes} %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                                Mandat 4
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                        {% include "mgateSuiviBundle:Etude:Blocks/etudesEnCours.html.twig" with  {'etudes':  etudes} %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<script>
                            $(document).ready(function() { 
                            $("table").tablesorter({ 
                                // pass the headers argument and assing a object 
                                headers: { 
                                    // assign the secound column (we start counting zero) 
                                    1: { 
                                        // disable it by setting the property sorter to false 
                                        sorter: false 
                                    }, 
                                    // assign the third column (we start counting zero) 
                                    2: { 
                                        // disable it by setting the property sorter to false 
                                        sorter: false 
                                    } 
                                } 
                            }); 
                            });
                            </script>-->

                            
                            <!-- block JS -->
    <script src="{{ asset('js/bootboxjs.js')}}"></script>
        <script>
        $('body').click(function(e){
        var Elem = e.target;
        if (Elem.id == 'commentaire'){
            console.log(Elem);
           bootbox.prompt("Commentaire :", function(result) {
          if (result !== null) {                                             
            var requete = $.ajax({
            url: "{{ path('mgateSuivi_state') }}",
            type: "POST",
            data: "state=" + result +"&etude=" + $(Elem).data("title") + "&id=" + $(Elem).data("content"),
            success: function(){
            },
            });
        console.log(requete);    
        }
            })
       }
       });
            

                  
            </script>
{% endblock %}
