{# layout d'accueil pour les études  #}

{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
Accueil - {{ parent() }}
{% endblock %}

{% block content_bundle %}

<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Etudes à suivre ({{app.user.personne.prenomnom|default('non connecté')}})</a></li>
        <li><a href="#tab2" data-toggle="tab">Etudes en cours</a></li>
        <li><a href="#tab3" data-toggle="tab">Etudes terminées</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            {% include "mgateSuiviBundle:Etude:Blocks/table.html.twig" with  {'etudes':  etudes, 'user' : app.user.personne.prenomnom|default(0), 'modeListe' : 0} %}
        </div>
        <div class="tab-pane" id="tab2">
            {% include "mgateSuiviBundle:Etude:Blocks/table.html.twig" with  {'etudes':  etudes, 'user' : app.user.personne.prenomnom|default(0), 'modeListe' : 1} %}
        </div>
        <div class="tab-pane" id="tab3">
            {#% include "mgateSuiviBundle:Etude:Blocks/table.html.twig" with  {'etudes':  etudes, 'user' : app.user.personne.prenomnom, 'modeListe' : 1} %#}
        </div>
    </div>

    <!--<script>
    $(document).ready(function() { 
    $("table").tablesorter({ 
        // pass the headers argument and assing a object 
        headers: { 
            // assign the secound column (we start counting zero) 
            1: { 
                // disable it by setting the property sorter to false 
                sorter: false 
            }, 
            // assign the third column (we start counting zero) 
            2: { 
                // disable it by setting the property sorter to false 
                sorter: false 
            } 
        } 
    }); 
    });
    </script>-->
{% endblock %}
