{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier une étude - {{ parent() }}
{% endblock %}

{% block content_bundle %}
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <h2>Modifier l'étude</h2>
    {% include "::Tools/datepicker.html.twig" %}
    {% include "mgateSuiviBundle:Etude:formulaire.html.twig" %} 

    <p>Modification d'une étude</p>

    <p>
        <a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}" >Retour à l'article</a>
    </p>
    
{% endblock %}

