{# Formulaire d'ajout d'une cc #}

<form method="post" {{ form_enctype(form) }}>
	
	{{ form_widget(form) }}
	
	<input type="submit" value="Enregistrer le nouveau contact du client"/>
        
</form>
