{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Affichage du contact client - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>Contact client n°{{ clientcontact.id }}</h2>
    
    

    <div>

    </div>

    <p>
        <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste des études</a>
        <a href="{{ path('mgateSuivi_clientcontact_modifier', {'id': clientcontact.id}) }}">Modifier le contact client</a>
	
    </p>

{% endblock %}
